In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from lxml import objectify
import math
import cycledata as cd
import urllib

# matplotlib
%matplotlib inline
pd.set_option('display.width', 5000)
pd.set_option('display.max_columns', 60)
pd.set_option('display.mpl_style', 'default')

november = cd.MonthFile("FullTest.csv") # 1min 32s

In [2]:
november.df.Duration = november.df.Duration.astype(float)
november.df.e_id = november.df.e_id.astype(int)
speed = pd.Series()
sw_time = november.df.s_date.apply(lambda x: x.weekday() < 5)
w_counts = november.df.loc[sw_time, ['s_id', 's_date', 'e_id', 'e_date', 'Duration']].reset_index(drop=True)
w_counts.head()

   s_id              s_date  e_id              e_date  Duration
0   234 2012-11-01 00:08:00   574 2012-11-01 00:15:00       423
1     2 2012-11-01 00:03:00   406 2012-11-01 00:27:00      1396
2   512 2012-11-01 00:10:00    39 2012-11-01 00:15:00       288
3     4 2012-11-01 00:04:00   107 2012-11-01 00:20:00       957
4   405 2012-11-01 00:09:00   515 2012-11-01 00:22:00       769

In [3]:
# long running time ~ 30mins
speed = pd.Series()
for x in w_counts.index:
    row_index = w_counts.iloc[x,0] - 1
    column_index = w_counts.iloc[x,2] - 1
    distance = cd.distances.iloc[row_index, column_index]
    av_speed = distance / w_counts.iloc[x,4]
    speed = speed.append(pd.Series([av_speed]))    
speed.reset_index(drop=True, inplace=True)

0    2.277129
0    2.082342
0    4.580051
0    1.843400
0    2.716175
0    1.933227
0    3.207324
0    3.162771
0    1.551115
0    1.524583
0    3.999657
0    1.402453
0    0.601957
0    3.336191
0    2.800709
0    1.353302
0    1.678654
0    2.572625
0    1.706465
0         NaN
0    4.257716
0    2.837796
0    1.900444
0    3.799680
0    3.027346
0    2.306634
0         NaN
0    4.681407
0    2.740281
0    1.166218
       ...
0    3.543666
0    2.376573
0         NaN
0    3.260168
0    2.808486
0    2.360999
0    2.157378
0    2.456002
0    3.624916
0    4.222578
0    2.451078
0    0.916900
0    3.410785
0    3.268951
0    1.339252
0    3.085734
0    3.733043
0         NaN
0    3.548174
0    1.359729
0    2.656646
0    0.472790
0    3.346295
0    2.739139
0    2.007366
0    3.653635
0    3.498806
0    2.813094
0    2.922924
0    1.613765
dtype: float64

In [9]:
w_counts['speed'] = speed

In [12]:
max = w_counts.speed > 15
maxi = w_counts.loc[max,:]
maxi

        s_id              s_date  e_id              e_date  Duration       speed
46630    196 2012-11-02 09:08:00    55 2012-11-02 09:08:00         9  188.693071
62217    130 2012-11-05 18:36:00   386 2012-11-05 18:37:00        49   77.721966
96362     66 2012-11-06 17:40:00   183 2012-11-06 17:44:00       264   16.629799
110654    27 2012-11-07 12:59:00   183 2012-11-07 13:02:00       209   19.166410
135024   594 2012-11-07 16:02:00   183 2012-11-07 16:04:00       117   31.856552
135073   232 2012-11-07 18:40:00   183 2012-11-07 18:42:00       172   23.107404
152640   372 2012-11-08 07:07:00   183 2012-11-08 07:11:00       243   15.904817
165700   594 2012-11-09 16:53:00   183 2012-11-09 16:56:00       129   28.893151
188969    23 2012-11-09 18:12:00   183 2012-11-09 18:17:00       277   15.476688
197660   372 2012-11-12 07:44:00   183 2012-11-12 07:46:00       155   24.934648
223573   372 2012-11-13 07:56:00   183 2012-11-13 07:59:00       155   24.934648
229295   546 2012-11-13 15:12:00   183 2012-11-13 15:16:00       236   18.468373
230300   104 2012-11-13 14:22:00    46 2012-11-13 14:22:00         5  172.716327
275957   372 2012-11-14 08:02:00   183 2012-11-14 08:04:00       132   29.279322
294762   372 2012-11-15 08:15:00   183 2012-11-15 08:19:00       206   18.761507
301521   372 2012-11-15 13:40:00   183 2012-11-15 13:43:00       194   19.922013
307694   594 2012-11-16 08:21:00   183 2012-11-16 08:23:00        94   39.651240
309244    84 2012-11-16 16:59:00   183 2012-11-16 17:04:00       264   15.515660
315454   174 2012-11-16 19:18:00   183 2012-11-16 19:21:00       206   17.741736
365928    24 2012-11-20 14:52:00   183 2012-11-20 14:56:00       239   17.401772
383764   372 2012-11-20 09:09:00   183 2012-11-20 09:12:00       192   20.129534
391442   594 2012-11-21 20:00:00   183 2012-11-21 20:03:00       163   22.866359
411642   594 2012-11-22 07:30:00   183 2012-11-22 07:32:00       101   36.903134
417622    27 2012-11-22 21:48:00   183 2012-11-22 21:51:00       150   26.705198
419069   183 2012-11-22 21:22:00    27 2012-11-22 21:25:00       182   22.009778
437477   372 2012-11-23 09:07:00   183 2012-11-23 09:09:00       126   30.673575
468605   183 2012-11-26 17:38:00   101 2012-11-26 17:43:00       284   15.537918
476343   372 2012-11-26 07:06:00   183 2012-11-26 07:09:00       149   25.938728
481414   232 2012-11-28 18:42:00   183 2012-11-28 18:45:00       199   19.972228
487941   183 2012-11-27 21:29:00    27 2012-11-27 21:32:00       171   23.425612
491181   372 2012-11-28 09:53:00   183 2012-11-28 09:56:00       200   19.324352
495920   372 2012-11-27 09:01:00   183 2012-11-27 09:03:00       131   29.502828
499863    27 2012-11-27 21:38:00   183 2012-11-27 21:40:00       136   29.454262
504707   183 2012-11-27 11:33:00    17 2012-11-27 11:38:00       294   16.176664
519345   372 2012-11-27 03:14:00   183 2012-11-27 03:17:00       142   27.217398
519955    84 2012-11-27 17:16:00   183 2012-11-27 17:19:00       182   22.506232
530787    27 2012-11-29 18:20:00   183 2012-11-29 18:24:00       215   18.631533
534693   372 2012-11-29 09:07:00   183 2012-11-29 09:10:00       128   30.194301
539869    67 2012-11-29 17:31:00   183 2012-11-29 17:36:00       281   16.002984
551572   335 2012-11-30 17:59:00   183 2012-11-30 18:01:00       160   21.627879

In [5]:
# w_counts.to_csv(path_or_buf='NovemberWeekdayJourneys.csv')
w_counts.set_index(w_counts.s_date, inplace=True)
w_counts.set_index(w_counts.index.time, inplace=True)
w_counts

          s_id              s_date  e_id              e_date  Duration
00:08:00   234 2012-11-01 00:08:00   574 2012-11-01 00:15:00       423
00:03:00     2 2012-11-01 00:03:00   406 2012-11-01 00:27:00      1396
00:10:00   512 2012-11-01 00:10:00    39 2012-11-01 00:15:00       288
00:04:00     4 2012-11-01 00:04:00   107 2012-11-01 00:20:00       957
00:09:00   405 2012-11-01 00:09:00   515 2012-11-01 00:22:00       769
00:03:00   395 2012-11-01 00:03:00   423 2012-11-01 00:07:00       246
00:00:00   221 2012-11-01 00:00:00   440 2012-11-01 00:09:00       551
00:05:00   154 2012-11-01 00:05:00    23 2012-11-01 00:14:00       567
00:01:00   311 2012-11-01 00:01:00   358 2012-11-01 00:13:00       747
00:00:00   311 2012-11-01 00:00:00   358 2012-11-01 00:13:00       760
00:04:00   512 2012-11-01 00:04:00   200 2012-11-01 00:12:00       484
00:10:00   571 2012-11-01 00:10:00   225 2012-11-01 00:28:00      1109
21:49:00   194 2012-11-01 21:49:00   197 2012-11-01 22:28:00      2287
19:26:00   161 2012-11-01 19:26:00   426 2012-11-01 19:30:00       238
08:03:00   287 2012-11-01 08:03:00   232 2012-11-01 08:12:00       517
13:25:00   128 2012-11-01 13:25:00   142 2012-11-01 13:36:00       678
09:18:00   570 2012-11-01 09:18:00   516 2012-11-01 09:27:00       554
17:52:00   234 2012-11-01 17:52:00    25 2012-11-01 18:05:00       722
11:16:00    11 2012-11-01 11:16:00    65 2012-11-01 11:25:00       521
16:34:00   162 2012-11-01 16:34:00    14 2012-11-01 16:41:00       461
16:51:00   436 2012-11-01 16:51:00   175 2012-11-01 17:00:00       583
19:05:00   112 2012-11-01 19:05:00   197 2012-11-01 19:12:00       430
13:14:00   262 2012-11-01 13:14:00   409 2012-11-01 13:20:00       349
08:39:00   312 2012-11-01 08:39:00   114 2012-11-01 08:45:00       374
08:40:00   119 2012-11-01 08:40:00   341 2012-11-01 08:57:00      1036
18:12:00   186 2012-11-01 18:12:00   142 2012-11-01 18:34:00      1323
22:02:00   226 2012-11-01 22:02:00   406 2012-11-01 22:17:00       913
08:02:00   487 2012-11-01 08:02:00   309 2012-11-01 08:25:00      1382
07:48:00    34 2012-11-01 07:48:00    88 2012-11-01 07:59:00       634
00:05:00   444 2012-11-01 00:05:00   485 2012-11-01 00:17:00       676
...        ...                 ...   ...                 ...       ...
07:20:00   321 2012-11-30 07:20:00    84 2012-11-30 07:34:00       818
18:03:00   277 2012-11-30 18:03:00   168 2012-11-30 18:06:00       173
15:49:00   552 2012-11-30 15:49:00   500 2012-11-30 15:54:00       312
07:37:00    93 2012-11-30 07:37:00     6 2012-11-30 07:52:00       931
17:15:00   436 2012-11-30 17:15:00    14 2012-11-30 17:23:00       495
23:19:00   420 2012-11-30 23:19:00   381 2012-11-30 23:38:00      1153
09:31:00    37 2012-11-30 09:31:00    97 2012-11-30 09:38:00       426
20:07:00   112 2012-11-30 20:07:00   192 2012-11-30 20:20:00       801
09:49:00   512 2012-11-30 09:49:00    40 2012-11-30 09:56:00       428
08:04:00   463 2012-11-30 08:04:00    14 2012-11-30 08:18:00       857
08:00:00   154 2012-11-30 08:00:00    66 2012-11-30 08:11:00       653
15:12:00    96 2012-11-30 15:12:00   322 2012-11-30 15:23:00       661
17:58:00   326 2012-11-30 17:58:00   466 2012-11-30 18:06:00       483
07:39:00   251 2012-11-30 07:39:00   364 2012-11-30 07:58:00      1124
17:44:00   587 2012-11-30 17:44:00   284 2012-11-30 18:12:00      1648
19:23:00   129 2012-11-30 19:23:00   165 2012-11-30 19:41:00      1069
08:43:00   261 2012-11-30 08:43:00   167 2012-11-30 09:00:00       998
18:02:00   159 2012-11-30 18:02:00   282 2012-11-30 18:31:00      1710
17:22:00   126 2012-11-30 17:22:00   141 2012-11-30 17:38:00       992
15:57:00    76 2012-11-30 15:57:00   349 2012-11-30 16:15:00      1117
18:41:00   210 2012-11-30 18:41:00   208 2012-11-30 18:50:00       509
13:35:00   332 2012-11-30 13:35:00   432 2012-11-30 14:28:00      3171
13:29:00    72 2012-11-30 13:29:00   199 2012-11-30 13:40:00       680
08:25:00   449 2012-11-30 08:25:00   322 2012-11-30 08:38:00       749
17:46:00   170 2012-11-30 17:46:00   192 2012-11-30 18:06:00      1213
06:11:00   270 2012-11-30 06:11:00   340 2012-11-30 06:29:00      1081
14:11:00    19 2012-11-30 14:11:00    24 2012-11-30 14:15:00       229
08:57:00   512 2012-11-30 08:57:00   331 2012-11-30 09:10:00       829
11:26:00   177 2012-11-30 11:26:00   281 2012-11-30 11:31:00       317
15:15:00    17 2012-11-30 15:15:00   383 2012-11-30 15:34:00      1120

[571204 rows x 5 columns]

In [40]:
hours = pd.Series(pd.date_range(start='2015-01-01', periods=96, freq='15Min')).dt.time
peak_time = (w_counts.index > hours[32]) & (w_counts.index < hours[33])
am_peak = w_counts.loc[peak_time, ['s_id', 'e_id', 's_date', 'e_date', 'Duration']]
# am_peak.to_csv('AM_Peak.csv', header=['Source','Target','Start','End','Duration'], index=False)
counts = pd.Series()
for x in range(0,len(am_peak)):
    sid = am_peak.iloc[x][0]
    eid = am_peak.iloc[x][1]
    row_indexer = (am_peak.s_id == sid) & (am_peak.e_id == eid)
    multiples = am_peak.loc[row_indexer, ['s_id', 'e_id']]
    counts = counts.append(pd.Series([len(multiples)]))        
counts.reset_index(drop=True, inplace=True)
am_peak.reset_index(drop=True, inplace=True)
am_peak['counts'] = counts

# If Duration > x, use in subsequent time frame dataframe with key?

In [41]:
am_peak

       s_id  e_id              s_date              e_date  Duration  counts
0       287   232 2012-11-01 08:03:00 2012-11-01 08:12:00       517      14
1       487   309 2012-11-01 08:02:00 2012-11-01 08:25:00      1382       1
2       336    71 2012-11-01 08:11:00 2012-11-01 08:20:00       550       1
3       584   225 2012-11-01 08:01:00 2012-11-01 08:04:00       162       5
4       539   123 2012-11-01 08:05:00 2012-11-01 08:16:00       696       7
5       257   283 2012-11-01 08:08:00 2012-11-01 08:28:00      1216       4
6       336   112 2012-11-01 08:09:00 2012-11-01 08:16:00       408      14
7       214   246 2012-11-01 08:11:00 2012-11-01 08:23:00       709       1
8        14    11 2012-11-01 08:06:00 2012-11-01 08:11:00       273       8
9        84   143 2012-11-01 08:06:00 2012-11-01 08:27:00      1295       1
10       20   408 2012-11-01 08:04:00 2012-11-01 08:15:00       657       1
11      154   557 2012-11-01 08:10:00 2012-11-01 08:19:00       586       3
12      154   112 2012-11-01 08:07:00 2012-11-01 08:16:00       583      58
13      262   321 2012-11-01 08:14:00 2012-11-01 08:20:00       382       3
14      217    64 2012-11-01 08:07:00 2012-11-01 08:25:00      1090       2
15      316   233 2012-11-01 08:14:00 2012-11-01 08:20:00       377      10
16       14   313 2012-11-01 08:01:00 2012-11-01 08:12:00       656      15
17       93   194 2012-11-01 08:14:00 2012-11-01 08:33:00      1133       4
18      101    22 2012-11-01 08:11:00 2012-11-01 08:21:00       580      11
19       50   282 2012-11-01 08:09:00 2012-11-01 08:22:00       779       3
20      447   322 2012-11-01 08:12:00 2012-11-01 08:38:00      1596       2
21      316    57 2012-11-01 08:04:00 2012-11-01 08:19:00       943       2
22      297   387 2012-11-01 08:03:00 2012-11-01 08:09:00       361       1
23       33   229 2012-11-01 08:04:00 2012-11-01 08:25:00      1234       2
24       14   594 2012-11-01 08:08:00 2012-11-01 08:21:00       760      34
25      199   360 2012-11-01 08:06:00 2012-11-01 08:27:00      1262       1
26      155    27 2012-11-01 08:08:00 2012-11-01 08:39:00      1847       3
27      344   101 2012-11-01 08:05:00 2012-11-01 08:14:00       498       2
28      246   226 2012-11-01 08:09:00 2012-11-01 08:24:00       918       1
29      453   130 2012-11-01 08:12:00 2012-11-01 08:19:00       461       1
...     ...   ...                 ...                 ...       ...     ...
16115   427    72 2012-11-30 08:12:00 2012-11-30 08:20:00       456       3
16116   237    55 2012-11-30 08:08:00 2012-11-30 08:17:00       571       2
16117   354   442 2012-11-30 08:10:00 2012-11-30 08:39:00      1781       1
16118   253   534 2012-11-30 08:11:00 2012-11-30 08:17:00       408       1
16119   152   112 2012-11-30 08:09:00 2012-11-30 08:26:00      1007       6
16120   114    43 2012-11-30 08:11:00 2012-11-30 08:13:00       158       1
16121   109   301 2012-11-30 08:05:00 2012-11-30 08:11:00       400       1
16122   154    66 2012-11-30 08:12:00 2012-11-30 08:21:00       585      13
16123   537   563 2012-11-30 08:12:00 2012-11-30 08:35:00      1377       8
16124   542   480 2012-11-30 08:04:00 2012-11-30 08:07:00       162      14
16125   298   427 2012-11-30 08:14:00 2012-11-30 08:23:00       577       3
16126    16   562 2012-11-30 08:03:00 2012-11-30 08:12:00       544       5
16127    14    66 2012-11-30 08:07:00 2012-11-30 08:14:00       395      17
16128   374   557 2012-11-30 08:14:00 2012-11-30 08:23:00       525       2
16129   154    71 2012-11-30 08:13:00 2012-11-30 08:24:00       664       5
16130    64    23 2012-11-30 08:06:00 2012-11-30 08:16:00       588       1
16131   364   275 2012-11-30 08:06:00 2012-11-30 08:19:00       789       2
16132   443   175 2012-11-30 08:06:00 2012-11-30 08:14:00       516      12
16133   440   101 2012-11-30 08:05:00 2012-11-30 08:20:00       910       3
16134   450    55 2012-11-30 08:07:00 2012-11-30 08:20:00       770       3
16135   167   392 2012-11-30 08:03:00 2012-11-30 08:16:00       739       5
16136   300   356 2012-11-30 08:08:00 2012-11-30 08:14:00       354       4
16137   499   205 2012-11-30 08:05:00 2012-11-30 08:22:00       984       6
16138   374   215 2012-11-30 08:10:00 2012-11-30 08:28:00      1090       3
16139   453   115 2012-11-30 08:10:00 2012-11-30 08:20:00       606       2
16140   101   436 2012-11-30 08:07:00 2012-11-30 08:20:00       774       4
16141   310   411 2012-11-30 08:06:00 2012-11-30 08:12:00       345       9
16142    79   374 2012-11-30 08:02:00 2012-11-30 08:09:00       403       1
16143   161   348 2012-11-30 08:12:00 2012-11-30 08:24:00       765       1
16144   463    14 2012-11-30 08:04:00 2012-11-30 08:18:00       857      13

[16145 rows x 6 columns]